.container {
  width: 250px;
  height: 350px;
  position: relative;
  top: 0;
  left: 0;
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-medium);
  object-fit: cover;
  object-position: center center;
}

.favorite {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  object-fit: cover;
  object-position: center center;
  filter: drop-shadow(0px 0px 2px #000);
}
